/* CSS Files */
* {

    box-sizing: border-box;

}

/* HEADER CSS */
.header{

    padding: 30px;
    text-align: center;
 background-image: url(HEADER.jpg);
    /* background-color: azure; */
    color: black;
    

}

/* INCREASE HEADER H1 */
.header h1{

    font-size: 40px;
    color: white;
    border: 1px solid black;
    background-color: gray;
    opacity: 0.5;
    

}
/* HEADER CSS  CLOSED*/

    /* NAVBAR CSS */
    .navbar{

        overflow: hidden;
        background-color: #333;

    }
    /* STYLE NAVBAR LINK */
    .navbar a{

        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;


    }
    /* RIGHT ALIGNED LINK */
    .navbar a.right{

        float: right;

    }
    /* NAVBAR HOVER{} */
    .nabvar a:hover{
        background-color: green;
        color: black;
    }
    /* NAVBAR CSS CLOSED*/


    /* ABOUT SECTION  */

    .content{
        flex: 50%;
        background-color: azure;
        padding: 20px;
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
    .aboutpar{
        text-align: center;
        margin-top: 30px;
    }

    li.contact{
        margin-left: 220px;
    }

    h3.contactname{
        margin-left: 100px;
    }

    /* CONTACT SECTION  CLOSED*/